html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

iframe {
  display: none;
}

.background-div {
position: fixed;
background: linear-gradient(180deg, rgba(239, 226, 73, 0.48) 1.66%, rgba(72, 255, 218, 0.29) 100%);
z-index: -1;
height: 100vh;
width: 100vw;

}

.app-wrapper {
  height: 100vh;
  /*height: 95vh;*/
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.main-wrapper {
  position: fixed;
  margin: 0px;
  height: 80%;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-top: 85px;
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-gap: 0px;
  grid-template-rows: repeat(22, 1fr);
  /*overflow-y: auto;*/
}

.input-wrapper {
  margin-right: 7px;
  grid-column: 3 / 12;
  grid-row: 1 / 23;
  margin-bottom: 130px;
}
/*.controls-wrapper {
  margin-right: 7px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  grid-column: 4 / 12;
  grid-row: 19 / 23;
}*/
.stack-wrapper {
  margin-left: 8px;
  background-color: white;
  grid-column: 12 / 21;
  grid-row: 1 / 15;
}
.metrics-wrapper {
  margin-left: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  grid-column: 12 / 21;
  grid-row: 15 / 23;
}

.navigation-background {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 70px;
}

.navigation-wrapper {
  font-family: dosis;
  display: flex;
  position: fixed;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: .08em;
  z-index: 4;
  width: 100%;
  /*margin-left: 50%;
  margin-right: 50%;*/
  /*justify-content: space-around;*/

}

.spacer {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.navigation-wrapper > h1 {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  flex: 1;
}

.Navbox {
  /* justify-content: space-around; */
display: flex;
justify-content: center;
/* padding: 0 10px; */
flex: 1;
}

.navbar-wrapper {
  display: flex;
  /*padding: 20px 10px;*/
  justify-content: space-around;
  flex-direction: row;
}

.nav-signup-button, .nav-login-button, .merge-sort-button, .curry-button, .debounce-button, .navbar-signup-button, .navbar-login-button, .next-line-button, .run-code-button, .logout-button {
  animation: fadein 2s;
  /*transition: all 2.25s ease;*/
  margin: 15px 10px;
  display: flex;
  flex-direction: row;
  /*flex: 1;*/
  font-weight: 400;
  text-decoration: none;
  color: black;
  padding: 10px;
  background: #dff8cf;
  background: rgb(249, 249, 162);
  background: rgb(205, 255, 240);
  border: 0px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  transition: all 0.25s ease;
  min-width: 90px;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 90px;
  max-width: 90px;
  font-size: 14px;
  letter-spacing: .03em;
}


.navbar-signup-button, .navbar-login-button, .logout-button {
  -webkit-animation: fadein 1.5s;
}

.navbar-signup-button:hover, .navbar-login-button:hover, .next-line-button:hover, .run-code-button:hover, .logout-button:hover, .merge-sort-button:hover, .curry-button:hover, .debounce-button:hover {
  box-shadow: inset 0 0 3em rgba(125, 185, 125, 0.35), 2px 2px 8px rgba(125, 185, 125, 0.7);
  cursor: pointer;
}

.next-line-button:hover, .run-code-button:hover {
  box-shadow: inset 0 0 3em rgba(189, 189, 102, 0.175), 2px 2px 8px rgba(189, 189, 102, 0.7);
}

.navbar-signup-button:hover, .navbar-login-button:hover {
  box-shadow: inset 0 0 3em rgba(90, 176, 185, 0.375), 2px 2px 8px rgba(90, 176, 185, 0.7);
}

.home-wrapper {
  width: 100%;
  height: 100%;
}

.code-input-editor {
  width: 100%;
  height: 100%;
}

.code-box {
  height: 100% !important;
  width: 100% !important;
}

.code-box:not(.ace_focus):hover {
 box-shadow: 2px 2px 8px rgba(125, 185, 125, 0.7) !important;
}

.ace_focus {
  box-shadow: 3px 3px 10px rgba(125, 185, 125, 0.7) !important;
}

/*.code-box:focus, .code-box:focus {
  box-shadow: inset 0 0 3em rgba(125, 185, 125, 0.35)
}*/

.button-wrapper {
  width: auto;
  display: flex;
  justify-content: center;
  height: 100px;
  z-index: 4;
  background: white;
  margin-top: 15px;
  position: relative;
  overflow-x: scroll;
  flex-direction: column;
}

.top-buttons {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.bottom-buttons {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.nav-login-button, .nav-signup-button {
  background: rgba(255, 255, 255, 1.0);
  border: solid white 2px;
  transition: all 0.05s ease;
}

.nav-login-button:hover, .nav-signup-button:hover {
  transition: all 0.05s ease;
  border: solid white 2px;
  box-sizing: border-box;
  /*max-height: 37px;*/
  /*margin-top: 17px;
  margin-bottom: 19px;*/
  background: rgba(255, 255, 255, 0.0);
  cursor: pointer;

}

.next-line-button, .run-code-button, .merge-sort-button {
  margin: 8px 10px;
  background: #dff8cf;
  background: rgb(249, 249, 162);
}

.merge-sort-button, .curry-button, .debounce-button {
  padding: 10px 10px;
  width: 108px;
  min-width: 108px;
  max-width: 108px;
  margin: 8px 8px;
  font-size: 14px;
  background: rgb(205, 255, 240);
  background: #dff8cf;
}

.input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


/*---SYNTAX THEME CUSTOMIZATIONS---*/
.ace_constant {
  /*border: solid black 1px;*/
}

.ace_function {
  color: rgb(229, 194, 2) !important;
}

.ace_support {
  color: rgb(150, 190, 162) !important;
}

.ace_paren {
  color: rgb(65, 175, 137) !important;
}

.ace_keyword {
  color: rgb(160, 95, 166) !important;
}

.ace_operator {
  color: #d35db2 !important;
}

.ace_numeric {
  color: #1da6df !important;
}

.ace_variable {
  /*border: dotted black 1px;*/
}

.ace_type {
  color: rgb(155, 150, 215) !important;
}

.modal {
  position: absolute;
  top: 18px;
  right: 0px;
  bottom: 40px;
  z-index: 10;
  width: 18%;
  min-width: 185px;
  height: 200px;
  background-color: rgb(218, 254, 242);
  border: solid 8px rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.modal::selection, .myClass_after-open::selection, .modal:focus {
  outline: none;
}

.modal-overlay {
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 9;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.29) 1.66%, rgba(255, 255, 255, 0.88) 100%);
}

input:focus::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.25);
 }

#signupForm, #loginForm {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 30px;
}

.nav-login-user-input, .nav-login-password-input, .nav-signup-username-input, .nav-signup-password-input {
  padding: 10px 5px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0 solid rgba(0, 0, 0, 0.0);
  border-bottom: solid 1px black;
}

.nav-login-user-input:focus, .nav-login-password-input:focus, .nav-signup-username-input:focus, .nav-signup-password-input:focus {
  border-bottom: dashed 1px black;
  transition: all 0.25s ease;
}

.footer-background {
  position: relative;
  width: 100%;
  background: white;
  z-index: 1;
  /*bottom: 0px;*/
  /*margin-bottom: 0;*/
  margin-top: 15px;
  height: 150px;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  display: none;
}

.footer-background span {
  font-family: dosis;
  font-size: 16pt;
  font-weight: 400;
  letter-spacing: .04em;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
  }
